* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  width: 1310px;
  background-color: #000000;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 20px 40px 20px;
}

nav h1 {
  font-size: 40px;
  color: #007d7b;
}

ul {
  font-size: 20px;
  display: flex;
  list-style: none;
  gap: 80px;
}

nav li {
  color: white;
}

nav li:hover {
  color: #007d7b;
  cursor: pointer;
}

main {
  background-color: white;
  width: 1310px;
  margin: auto;
  padding: 16px 0px 16px 16px;
  margin-bottom: 10px;
}

/* About Section */

.about {
  display: flex;
}

.about img {
  width: 850px;
  margin-right: 10px;
}

.about-text {
  text-align: right;
  width: 420px;
}

.about-text h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.about-text p {
  font-size: 20px;
}

/* Gallery Section */

.gallery h2 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery p {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Images Section */

.images {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 10px;
}

/* Contact */
footer {
  margin-top: 20px;
  color: white;
  width: 850px;
  margin: auto;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

footer h2 {
  font-size: 40px;
}

footer p {
  margin-top: 15px;
}

form {
  width: 850px;
  margin: 0 auto;
  margin-bottom: 80px;
}

label {
  font-size: 16px;
}

input {
  width: 840px;
  padding: 12px 10px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #007d7b;
}

form #button {
  background-color: #007d7b;
  width: 300px;
  border-radius: 10px;
  margin: 0 auto;
}

form p {
  font-size: 16px;
  background-color: #007d7b;
  width: 300px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.top {
  position: absolute;
  background-color: #007d7b;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  right: 0px;
}

.top:hover {
  background-color: white;
  color: #007d7b;
}
